.title{
  text-align: center;
  font-weight: 150;
  font-family: 'Montserrat', sans-serif;
}

body, html{
  height: 100%;
}

.background{
  background-image: url("Edited Headshot.JPG");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.headertitle{
  text-align: 'left';
  font-family: 'Quicksand', sans-serif;
}
